body {
    font-size: 62.5%;
    margin: 0px;
    padding: 0px;
    background-image: url("home-1.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: heart;
    src: url("heart.ttf");
}


@font-face {
    font-family: dense;
    src: url("dense.otf");
}


@font-face {
    font-family: ft81;
    src: url("ft81.ttf");
}

@font-face {
    font-family: proxima;
    src: url("proxima.otf");
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    font-family: ft81;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    position: fixed;
    top: 0;
}

.menu li a {
    float: left;
    text-decoration: none;
    padding: 1.4% 1.5%;
    color: dimgray;
    font-size: 2em;
    font-weight: 600;
}

.menu li a:hover {
    color: black;
    background-color: aliceblue;
    transition: 0.3s ease;
}

.face {
    background: rgba(255, 255, 255, 0.6);
    margin-left: 15%;
    margin-right: 15%;    
    text-align: center;
    margin-top: 10%;
}

.face h1 {
    font-family: heart;
    font-size: 12em;
    vertical-align: middle;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #333333;
}

.face p {
    font-family: ft81;
    font-size: 3em;
    padding-bottom: 4%;
}

.desc {
    background: rgba(255, 255, 255, 0.6);
    font-family: Garamond;
    font-size: 2.7em;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 3%;
    text-align: center;
}

.notes {
    background: rgba(240, 255, 250, 0.9);
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 3%;
}

.notes h2 {
    margin: 0;
    font-family: heart;
    font-size: 8em;
    text-align: center;
    padding: 2%;
    color: #333333;
}

.term {
    float: left;
    width: 33.33%;
}

.term h3 {
    font-family: heart;
    font-size: 4em;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    background-image: url(notepad.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30%;
    padding-bottom: 30%;
}

.term:nth-child(2) h3 {
    background-image: url(notepad2.png);
}

.term:nth-child(3) h3 {
    background-image: url(notepad3.png);
}

.row {
    margin-left: 10%;
    margin-right: 10%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.about {
    background: rgba(255, 255, 255, 0.6);
    margin-left: 15%;
    margin-right: 15%;    
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.about h1 {
    font-family: heart;
    font-size: 8em;
    vertical-align: middle;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 4%;
    color: #333333;
}

.about p {
    font-family: garamond;
    font-size: 3em;
    padding-bottom: 4%;
}

.team {
    margin-left: 20%;
    margin-right: 20%;
}

.person {
    width: 48%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    float:left;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

.person img {
    width: 100%;
}

.person p {    
    font-family: proxima;
    font-size: 2em;
}

.team:after {    
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: white;
    color: dimgray;
    font-family: ft81;
    font-size: 2em;
    text-align: center;
    padding: 1.5%;
    font-weight: 600;
    margin: 0;
}