body {
    font-size: 62.5%;
    margin: 0px;
    padding: 0px;
    background-image: url("home-1.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: heart;
    src: url("fonts/heart.ttf");
}


@font-face {
    font-family: dense;
    src: url("fonts/dense.otf");
}


@font-face {
    font-family: ft81;
    src: url("fonts/ft81.ttf");
}

@font-face {
    font-family: proxima;
    src: url("fonts/proxima.otf");
}

@font-face {
    font-family: nova;
    src: url("fonts/nova.woff");
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    font-family: ft81;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    position: fixed;
    top: 0;
}

.menu li a {
    float: left;
    text-decoration: none;
    padding: 1.4% 1.5%;
    color: dimgray;
    font-size: 1.25em;
    font-weight: 600;
}

.menu li a:hover {
    color: black;
    background-color: aliceblue;
    transition: 0.3s ease;
}

.face {
    background: rgba(255, 255, 255, 0.6);
    margin-left: 15%;
    margin-right: 15%;    
    text-align: center;
    margin-top: 10%;
}

.face h1 {
    font-family: heart;
    font-size: 12em;
    vertical-align: middle;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #333333;
}

.face p {
    font-family: ft81;
    font-size: 3em;
    padding-bottom: 4%;
}

.desc {
    background: rgba(255, 255, 255, 0.6);
    font-family: Garamond;
    font-size: 2.7em;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 3%;
    text-align: center;
}

.notes {
    background: rgba(240, 255, 250, 0.9);
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 3%;
}

.notes h2 {
    margin: 0;
    font-family: heart;
    font-size: 8em;
    text-align: center;
    padding: 2%;
    color: #333333;
}

a {
    text-decoration: none
}

.term {
    float: left;
    width: 33.33%;
}

.term h3 {
    font-family: heart;
    font-size: 4em;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    background-image: url(notepad.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30%;
    padding-bottom: 30%;
}

.term:nth-child(2) h3 {
    background-image: url(notepad2.png) !important;
}

.term:nth-child(3) h3 {
    background-image: url(notepad3.png);
}

.quizzes {
    background: rgba(240, 255, 250, 0.9);
    padding-top: 0px;
    padding-bottom: 3%;
}

.quizzes h2 {
    margin: 0;
    font-family: heart;
    font-size: 8em;
    text-align: center;
    padding: 2%;
    color: #333333;
}

.quiz {
    float: left;
    width: 26vw;
}

.quiz h3 {
    font-family: heart;
    font-size: 4em;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    background-image: url(quizPrelims.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30%;
    padding-bottom: 30%;
    border-radius: 100%;
    border-bottom-style: groove;
    margin-left: 10%;
}

.quiz:nth-child(2) h3 {
    background-image: url(quizMidterms.png) !important;
}

.quiz:nth-child(3) h3 {
    background-image: url(quizFinals.png);
}


.row {
    margin-left: 10%;
    margin-right: 10%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.about {
    background: rgba(255, 255, 255, 0.6);
    margin-left: 15%;
    margin-right: 15%;    
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.about h1 {
    font-family: heart;
    font-size: 8em;
    vertical-align: middle;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 4%;
    color: #333333;
}

.about p {
    font-family: garamond;
    font-size: 3em;
    padding-bottom: 4%;
}

.team {
    margin-left: 20%;
    margin-right: 20%;
}

.person {
    width: 48%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    float:left;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

.person img {
    width: 100%;
}

.person p {    
    font-family: proxima;
    font-size: 2em;
}

.team:after {    
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: white;
    color: dimgray;
    font-family: ft81;
    font-size: 2em;
    text-align: center;
    padding: 1.5%;
    font-weight: 600;
    margin: 0;
	bottom:0;
	margin-bottom: 0;
}

/*for prelims.html*/

.content {
    background: rgba(240, 255, 250, 0.9);
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.title {
    background: rgba(255, 255, 255, 0.6);
    margin-left: 15%;
    margin-right: 15%;    
    text-align: center;
    margin-top: 10%;
}

.title h1 {
    font-family: nova;
    font-size: 12em;
    vertical-align: middle;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #333333;
}

/*.info {
    margin-left: 15%;
    margin-right: 15%;
}
.info h2 {
    margin-top: 3%;
    padding: 1%;
    padding-left: 3%;
    background-color: #ACE2CD;
    color: #333333;
    font-family: proxima;
    font-size: 4em;
    margin-bottom: 0px;
}

.info p, ul, ol{
    margin-top: 0px;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding: 3%;
    font-family: times new roman;
    font-size: 2em; 
}

.info ul, ol {
	padding-left: 5%;
}

.info li > ol {
    font-size: 1em;
}

.info li > ul {
    font-size: 1em;
}*/

.headline {
    background-color: #ACE2CD;
    color: #333;
    cursor: pointer;
    padding: 1%;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 4em;
    transition: 0.8s;
	font-family: proxima;
	margin-top: .25%;
	margin-left: 15%;
	margin-right:auto;
}

.active, .headline:hover {
    background-color: #ccc;
}

.headline:after {
    content: '\25BC';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\25B2";
}

.info {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
	margin-left: 15%;
	margin-right: 15%;
}

.info p, ul, ol{
    margin-top: 0px;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding: 3%;
    font-family: times new roman;
    font-size: 2em; 
}

.info ul, ol {
	padding-left: 5%;
}

.info li > ol {
    font-size: 1em;
}

.info li > ul {
    font-size: 1em;
}

/*quiz*/
#quiz {
    background: rgba(255, 255, 255, 0.6);
    margin-left: 15%;
    margin-right: 15%;    
    text-align: center;
    margin-top: 10%;
	margin-bottom: 10%;
}

#quiz h1 {
    font-family: dense;
    font-size: 12em;
    vertical-align: middle;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #333333;
}


#quiz p, h2 {
    font-family: ft81;
    font-size: 3em;
    padding-bottom: 4%;
}

p#question {
	font-family: sans-serif;
}

p#progress {
	font-size: 2em;
	font-family: sans-serif;
}

.buttons {
	width: 40%;
	padding: 10px;
	margin: 10px;
}

hr {
	margin-left: 5%;
	margin-right: 5%;
}
